/* Small (sm) - 640px and up */
@media screen and (min-width: 576px) {
  button,
  a {
    min-width: auto;
    min-height: auto;
  }

  .hero-img {
    height: 290px;
  }
  .hero-img img {
    height: 284px;
    width: 99%;
  }
  .btn-hero {
    padding: 14px 28px;
  }
  .carousel-btn {
    height: 49px;
    width: 49px;
  }
  .home-inner {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 15px 30px;
  }
  .carousel-btn {
    height: 52.5px;
    width: 52.5px;
  }
  .social-icon {
    height: auto;
    width: auto;
  }
  .carousel-item-element {
    width: 100%;
  }

  #what-we-do .info-card {
    height: 350px;
    width: 350px;
  }
  #contact-us .our-information .card {
    padding: 30px;
    margin-bottom: 30px;
  }
  #contact-us .join-our-community {
    padding: 30px;
  }
  .slider-logo {
    width: 90px;
    height: 90px;
  }

  #what-we-do h2,
  #what-we-do p:last-child {
    font-size: 34px !important;
    line-height: 38px !important;
  }
  #what-we-do .info-card h3 {
    font-size: 19px !important;
    line-height: 23px !important;
    width: 43.9% !important;
  }
  .players-info {
    padding: 24px;
  }
  .live-slider .overlay-r {
    height: 90px;
  }
  .live-slider .overlay-l {
    height: 90px;
  }
  .slider-logo-img {
    width: 90px;
    height: 90px;
  }
}

/* Medium (md) - 768px and up */
@media screen and (min-width: 992px) {
  .navbar ul li {
    margin-right: 10px;
  }
  .slider-inner {
    width: 100%;
  }
  #what-we-do .info-card {
    height: 226px;
    width: 226px;
  }
  #what-we-do .info-card h3 {
    font-size: 20px !important;
    line-height: 28px !important;
    width: 74% !important;
  }
  .carousel-btn {
    height: 56px;
    width: 56px;
  }

  .home-inner {
    max-width: 100%;
  }
  .header-caption h1 {
    width: 100% !important ;
  }

  .hero-img {
    height: 384px;
  }
  .hero-img img {
    height: 374px;
    width: 98.5%;
  }

  .btn-hero {
    padding: 16px 32px;
  }
  #home {
    height: 100vh;
  }
  .send-message-form label {
    font-size: 14px;
    line-height: 20px;
  }
  #contact-us .our-information .card {
    padding: 32px;
    margin-bottom: 32px;
  }
  #contact-us .join-our-community {
    padding: 32px;
  }
  .slider-logo {
    width: 96px !important;
    height: 96px !important;
  }
  .live-slider .overlay-r {
    height: 96px;
  }
  .live-slider .overlay-l {
    height: 96px;
  }
  .slider-logo-img {
    width: 96px;
    height: 96px;
  }
  #what-we-do h2,
  #our-team h2,
  #contact-us h2,
  #our-games h2,
  #what-we-do p:last-child {
    font-size: 48px !important;
    line-height: 48px !important;
  }
}

@media screen and (min-width: 1200px) {
  #what-we-do .info-card {
    height: 290px;
    width: 290px;
  }
}
